<button pButton  label="ajouter" class="p-button-info" routerLink="/perso-ajout"></button>
<p-table [value]="perso">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>nom </th>
            <th>niveau</th>
            <th>pv_max</th>
            <th>dega</th>
            <th>exp</th>
            <th>classe</th>
            <th>competence</th>
            <th>histoire</th>
            <th>action</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-perso>
        <tr>
            <td>{{perso.id}}</td>
            <td>{{perso.nom|maj}}</td>
            <td>{{perso.niveau}}</td>
            <td>{{perso.pv_max}}</td>
            <td>{{perso.dega}}</td>
            <td>{{perso.exp}}</td>
            <td>{{perso.classe}}</td>
            <td>{{perso.competence}}</td>
            <td>{{perso.histoire|maj}}</td>
            <td><button pButton (click)="removPerso(perso.id)">supprimer</button>
            <button pButton [routerLink]="'/perso-edit/'+ perso.id">modif</button></td>
        </tr>
    </ng-template>
</p-table>
