<button pButton  label="ajouter" class="p-button-info" routerLink="/monstre-ajout"></button>
<p-table [value]="monstre">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>pv</th>
            <th>gold</th>
            <th>dega</th>
            <th>exp</th>
            <th>description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-monstre>
        <tr>
            <td>{{monstre.id}}</td>
            <td>{{monstre.nom|maj}}</td>
            <td>{{monstre.pv}}</td>
            <td>{{monstre.gold}}</td>
            <td>{{monstre.dega}}</td>
            <td>{{monstre.exp}}</td>
            <td>{{monstre.description}}</td>
            <td><button pButton (click)="removMonstre(monstre.id)">supprimer</button>
            <button pButton [routerLink]="'/monstre-edit/'+ monstre.id">modif</button></td>
        </tr>
    </ng-template>
</p-table>

