

<button pButton  label="ajouter" class="p-button-info" routerLink="/objet-ajout"></button>
<p-table [value]="objet">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>dega</th>
            <th>prix vente</th>
            <th>pric achat</th>
            <th>effect</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-objet>
        <tr>
            <td>{{objet.id}}</td>
            <td>{{objet.nom|maj}}</td>
            <td>{{objet.dega}}</td>
            <td>{{objet.prix_vente}}</td>
            <td>{{objet.prix_achat}}</td>
            <td>{{objet.effect}}</td>
            <td><button pButton (click)="removobjet(objet.id)">supprimer</button>
            <button pButton [routerLink]="'/objet-edit/'+ objet.id">modif</button></td>
        </tr>
    </ng-template>
</p-table>

